KEYCLOAK_ADMIN_USERNAME=
KEYCLOAK_ADMIN_PASSWORD=
FRONT_UI_CLIENT_SECRET=
CASH_SERVICE_CLIENT_SECRET=
TRANSFER_SERVICE_CLIENT_SECRET=
ACCOUNTS_SERVICE_CLIENT_SECRET=
NOTIFICATIONS_SERVICE_CLIENT_SECRET=
