KEYCLOAK_ADMIN_USERNAME=
KEYCLOAK_ADMIN_PASSWORD=
BANK_KEYCLOAK_REALM_FILE=./envs/dev/runtime/bank-realm.json
FRONT_UI_CLIENT_SECRET=
CASH_SERVICE_CLIENT_SECRET=
TRANSFER_SERVICE_CLIENT_SECRET=
ACCOUNTS_SERVICE_CLIENT_SECRET=
EXCHANGE_GENERATOR_CLIENT_SECRET=
BANK_BLOCKER_BASE_URL=
BANK_EXCHANGE_BASE_URL=
BANK_BLOCKER_MAX_AMOUNT=
BANK_EXCHANGE_GENERATOR_FIXED_DELAY_MS=
